*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    position: relative;
}
/* navbar */ 
.burger{
    position: absolute;
    top: 30px;
    left: 30px;
    cursor: pointer;
}
.burger div{
    height: 5px;
    width: 30px;
    background: blue;
    margin-bottom: 5px;
}
.nav{
    position: absolute;
    top: 60px;
    left: 30px;
    height: 300px;
    display: flex;
    flex-direction: column;
    background: black;
    transform: translateX(-150%);
    transition: transform 0.5s ease-in;
    z-index:2;
}
.nav-active{
    position: absolute;
    top: 60px;
    left: 30px;
    height: 300px;
    display: flex;
    flex-direction: column;
    background: black;
    transform: translateX(0%);
    z-index:2;
}
.nav li,
.nav-active li{
    list-style: none;
    text-decoration: none;
    color: white;
}

/* welcome on planner page */ 
.welcome{
    display:flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

/* User's name on planner page*/ 
.name{
    margin: 80px auto 50px;
}





        /* MATH PAGE */ 

#mathPage{
    background-color: black;
}        
#calcResultBox {
    background-color: black;
    color: blueviolet;
}

#mathNavBar {
    --drawer-back-color: black;
    --nav-border-color: chartreuse;
}

/* Calculator Styling */
.card-body{
    background: #000;
    outline-style: dotted;
    outline-color: chartreuse;
}
.card {
    background-color: black;
}
.card-header {
    background-color: black;
    color: blueviolet;
}
.number{
    border: solid 1px #22dfdf;
    background: black;
    color: #22dfdf;
}
.number:hover{
    background: #22dfdf;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}
.operator{ 
    border: solid 1px  #b063e4;
    background: black;
    color:   #b063e4;
}
.operator:hover{
    background:  #b063e4;
    color: #050801;
    box-shadow: 0 0 5px   #b063e4,
                0 0 25px   #b063e4,
                0 0 50px   #b063e4,
                0 0 100px   #b063e4;
}
.equal{
    border: solid 1px #31f552;
    background: black;
    color:  #31f552;
}
.equal:hover{
    background: #31f552;
    color: #050801;
    box-shadow: 0 0 5px #31f552,
                0 0 25px  #31f552,
                0 0 50px #31f552,
                0 0 100px #31f552;
}
/* End Calculator Styling */