*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Materialize Nav Bar */
/* .fixed-action-btn{
    top: 30px;
    left:30px;
} */
/* End Materialize Nav Bar */

/* Index Only */
.index-overlay{
    position: absolute;
    height: 100vh;
    width: 100%;
    background: url(./Assets/supplies.jpg);
    background-size: cover;
    z-index: -2;
}
.index-overlay::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    z-index: -1;
}
.welcome{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    height: 200px;
    padding-top: 100px;
}
.welcome h1{
    color: #f8ed56;
    font-size: 60px;
}
.welcome h5{
    font-size: 28px;
}
.name{
    margin: 80px auto 50px;
}
/* End Index Only */

/* Calendar Styling */
.week-of-wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
}
.week-of{
    margin-top: 20px;
    padding: 20px;
    color: #6cc4bc;
}
.week-of span{
    font-size: 20px;
    color: #fff;
}
.calendar-wrapper{
    display: flex;
    position: relative;
}
.calendar{
    display: flex;
    position: absolute;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    background: #6cc4bc;
    border-radius: 10px;
}
.weekdays{
    display:flex;
    flex-direction: column;
    text-align: center;
    min-width: 150px;
}
.weekdays textarea{
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 150px;
}
.day{
    padding: 10px;
    color: #fff;
    font-weight: 600;
}


/* display days in 1 column on smaller screens */
@media screen and (max-width: 995px){
    .calendar-wrapper{
        margin: 0 auto;
    }
    .calendar{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
}
/* End Calendar Styling */
