*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.draw-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
canvas {
  padding: 0;
  margin: auto;
  display: block;
  width: 800px;
}
#canvas {
  border: 1px solid black;
}

#clear {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: auto;
  border: 1px solid black;
  font-size: 20px;
  color: white;
  background-color: #e3242b;
}

#clearButton {
  margin: 30px;
}

.controls {
  margin: 30px 0;
}

#black {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: auto;
  border: 1px solid black;
  font-size: 20px;
  color: white;
  background-color: black;
}

#blackButton {
  margin: 30px;
}

#erase {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: auto;
  border: 1px solid black;
  font-size: 20px;
  color: black;
  background-color: white;
}

#eraseButton {
  margin: 30px;
}

#blue {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: auto;
  border: 1px solid black;
  font-size: 20px;
  color: white;
  background-color: #287bff;
}

#blueButton {
  margin: 30px;
}

#blue {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: auto;
  border: 1px solid black;
  font-size: 20px;
  color: white;
  background-color: #287bff;
}

#blueButton {
  margin: 30px;
}

#green {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: auto;
  border: 1px solid black;
  font-size: 20px;
  color: white;
  background-color: #13d50a;
}

#greenButton {
  margin: 30px;
}

#red {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: auto;
  border: 1px solid black;
  font-size: 20px;
  color: white;
  background-color: #ea1515;
}

#redButton {
  margin: 30px;
}
#yellow {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: auto;
  border: 1px solid black;
  font-size: 20px;
  color: white;
  background-color: #f8fb0b;
}

#yellowButton {
  margin: 30px;
}

#purple {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: auto;
  border: 1px solid black;
  font-size: 20px;
  color: white;
  background-color: #ad0bfb;
}

#purpleButton {
  margin: 30px;
}

#red {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: auto;
  border: 1px solid black;
  font-size: 20px;
  color: white;
  background-color: #ea1515;
}

#redButton {
  margin: 30px;
}
