#englishStuff {
  margin: auto;
  max-width: 800px;

}
.form-wrapper {


.english-form {
  /* I left the background blue so you know where to change it */
  background: rgb(247, 32, 68);
}
#english-tile {

}
#english-body {
min-height: 700px;

#grammar {

}

.dictionary {
  margin-top: 130px;
}
