* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(../Assets/galaxy.jpg); /* https://wallpaperaccess.com/4k-ultra-hd-galaxy */
    background-size: cover;
    background-position: center;
}
.math-wrapper{
    height: 100vh;
}
.calculator {
    display: flex;
    justify-content: center;
    margin: 15% auto;
    background: black;
    padding: 25px 25px 0 25px;
    width: 30%;
    min-width: 237px;
}

/* Calculator Styling */
.btn{
    border-radius: 10px;
}
#resultbox{
    margin: 0 auto;
    padding: 5px 5px 10px 10px;
    text-align: left;
    width: 80%;
    height: 40px;
    background: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
}
.result-text{
    color: #04d4df;
}
.number{
    border: solid 1px #22dfdf;
    background: black;
    color: #22dfdf;
}
.number:hover{
    background: #22dfdf;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}
.operator{ 
    border: solid 1px  #b063e4;
    background: black;
    color:   #b063e4;
}
.operator:hover{
    background:  #b063e4;
    color: #050801;
    box-shadow: 0 0 5px   #b063e4,
                0 0 25px   #b063e4,
                0 0 50px   #b063e4,
                0 0 100px   #b063e4;
}
.equal{
    border: solid 1px #31f552;
    background: black;
    color:  #31f552;
}
.equal:hover{
    background: #31f552;
    color: #050801;
    box-shadow: 0 0 5px #31f552,
                0 0 25px  #31f552,
                0 0 50px #31f552,
                0 0 100px #31f552;
}
/* End Calculator Styling */